#main{
    width:100%;

}
.logo{
    
    display:flex;
    width:140px;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.mainImg{
    padding-top: 20px;
    padding-bottom: 20px;
    width:100%;
}
#main p{
    font-size:18px;
    line-height: 1.4;
}
button{
    margin-top:30px;
    background-color: #FFDD00;
    width:100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    border:none;
}